{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}


<br>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading" style="text-align:center">
                    The Incredible Chat Machine
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="table" id="chat" style="margin-bottom:30px; height:300px; overflow-y: scroll">

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div id="post">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <div class="input-group" >
                                            <div class="input-group-addon" style="min-width:100px">
                                                Name
                                            </div>
                                            <input type="text" style="min-width:150px" class="form-control" placeholder="Enter your name" id="sender">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="input-group">
                                            <div class="input-group-addon" style="min-width:100px">
                                                Message
                                            </div>
                                            <input type="text" placeholder="Enter your message" class="form-control" id="chattext">


                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <button class="btn btn-primary" style="float:right" id="chatsend">Send</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>



                </div>
            </div>


        </div>
    </div>
</div>








  <script type="text/javascript" src="/static/js/chat.js" defer></script>
{% endblock %}
